<div id="page-content">
<div class="container" id="home-container">
<div class="jumbotron text-center text-white">
  <h1 class="display-4">BOBBY BLOG</h1>
  <p class="lead">My great hope is to laugh as much as I cry, to get my work done and try to love somebody and have the courage to accept the love in return.</p>
  <hr class="my-4">
  <p>Hey Guys! please sigup to read intresting articles and write your intresting stories :)</p>
  <%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %>
</div>
</div>

</div>
